* {
    margin: 0;
    padding: 0;
    font-family: "GODOFWAR";
  }
  
  @font-face {
    font-family: "GODOFWAR";
    src: url(GODOFWAR.TTF);
  }
.back-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}

.sub-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
      /* url(/Assets/Banner.jpg); */
      /* background-color: #1064a6; */
    /* background-position: center;
    background-size: cover;
    position: relative; */
  }
  
  nav img {
    width: 250px;
    height: 70px;
    padding: 10px;
  }
  
  nav {
    display: flex;
    padding: 0% 1%;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #9c1216;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }

  .nav-links .fa-xmark {
    display: none;
  }
  
  nav .fa-bars {
    display: none;
  }

  .course .head-section h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin: 50px 0 10px 650px;
  }
  
  .course .head-section p {
    color: #fff;
    margin: 10px 0 50px;
    font-size: 20px;
  }

  /* This is the card for kratos */

.kratos-card {
    background: linear-gradient(#02608c, rgba(4, 9, 30, 0.7));
    position: relative;
    margin: 20px 0 0 90px;
    width: 350px;
    height: 400px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px black;
    overflow: hidden;
    display: inline-block;
  }
  
  .kratos-card .kra-img {
    position: relative;
    overflow: hidden;
  }
  .kratos-card .kra-img::before {
    content: "";
    position: absolute;
    bottom: -220px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }
  
  .kratos-card:hover .kra-img::before {
    bottom: 0px;
  }
  .kratos-card .kra-img img {
    width: 100%;
  }
  
  .kratos-card:hover .kra-img img {
    transform: translateY(-10px);
    filter: blur(1.2px);
  }
  
  .kratos-card .kra-det {
    position: absolute;
    width: 100%;
    bottom: -218px;
    right: 0;
    z-index: 1;
    padding: 20px;
    transition: 0.5s;
  }
  .kratos-card:hover .kra-det {
    bottom: 40px;
  }
  .kratos-card .kra-det h2 {
    font-size: 35px;
    margin-left: 35px;
  }
  .kratos-card .kra-det h3 {
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .kratos-card .kra-det h5 {
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
    line-height: 20px;
  }
  
  /* This is the card for Atreus */

.atreus-card {
    display: block;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#02608c, rgba(4, 9, 30, 0.7));
    position: relative;
    margin: 20px 0 0 140px;
    width: 350px;
    height: 400px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px black;
    overflow: hidden;
    display: inline-block;
  }
  
  .atreus-card .atr-img {
    position: relative;
    overflow: hidden;
  }
  .atreus-card .atr-img::before {
    content: "";
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }
  
  .atreus-card:hover .atr-img::before {
    bottom: 0px;
  }
  .atreus-card .atr-img img {
    width: 100%;
  }
  
  .atreus-card:hover .atr-img img {
    transform: translateY(-10px);
    filter: blur(1.2px);
  }
  
  .atreus-card .atr-det {
    position: absolute;
    width: 100%;
    bottom: -180px;
    right: 0;
    z-index: 1;
    padding: 20px;
    transition: 0.5s;
  }
  .atreus-card:hover .atr-det {
    bottom: 80px;
  }
  .atreus-card .atr-det h2 {
    font-size: 35px;
    margin-left: 35px;
  }
  .atreus-card .atr-det h3 {
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .atreus-card .atr-det h5 {
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
    line-height: 20px;
  }
  
  /* This is the card for Freya */
  
  .freya-card {
    display: block;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#02608c, rgba(4, 9, 30, 0.7));
    position: relative;
    margin: 20px 0 0 140px;
    width: 350px;
    height: 400px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px black;
    overflow: hidden;
    display: inline-block;
  }
  
  .freya-card .fre-img {
    position: relative;
    overflow: hidden;
  }
  .freya-card .fre-img::before {
    content: "";
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }
  
  .freya-card:hover .fre-img::before {
    bottom: 0px;
  }
  .freya-card .fre-img img {
    width: 100%;
  }
  
  .freya-card:hover .fre-img img {
    transform: translateY(-10px);
    filter: blur(1.2px);
  }
  
  .freya-card .fre-det {
    position: absolute;
    width: 100%;
    bottom: -220px;
    right: 0;
    z-index: 1;
    padding: 20px;
    transition: 0.5s;
  }
  .freya-card:hover .fre-det {
    bottom: 40px;
  }
  .freya-card .fre-det h2 {
    font-size: 35px;
    margin-left: 33px;
  }
  .freya-card .fre-det h3 {
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .freya-card .fre-det h5 {
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
    line-height: 20px;
  }
  
  /* This is the card for Baldur */
  
  .baldur-card {
    display: block;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: linear-gradient(#02608c, rgba(4, 9, 30, 0.7));
    position: relative;
    margin: 80px 0 0 90px;
    width: 350px;
    height: 400px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px black;
    overflow: hidden;
    display: inline-block;
  }
  
  .baldur-card .bal-img {
    position: relative;
    overflow: hidden;
  }
  .baldur-card .bal-img::before {
    content: "";
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }
  
  .baldur-card:hover .bal-img::before {
    bottom: 0px;
  }
  .baldur-card .bal-img img {
    width: 100%;
  }
  
  .baldur-card:hover .bal-img img {
    transform: translateY(-10px);
    filter: blur(1.2px);
  }
  
  .baldur-card .bal-det {
    position: absolute;
    width: 100%;
    bottom: -257px;
    right: 0;
    z-index: 1;
    padding: 20px;
    transition: 0.5s;
  }
  .baldur-card:hover .bal-det {
    bottom: 1px;
  }
  .baldur-card .bal-det h2 {
    font-size: 35px;
    margin-left: 34px;
  }
  .baldur-card .bal-det h3 {
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .baldur-card .bal-det h5 {
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
    line-height: 20px;
  }
  
  /* This is the card for Brok */
  
  .brok-card {
    display: block;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: linear-gradient(#02608c, rgba(4, 9, 30, 0.7));
    position: relative;
    margin: 80px 0 0 140px;
    width: 350px;
    height: 400px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px black;
    overflow: hidden;
    display: inline-block;
  }
  
  .brok-card .bro-img {
    position: relative;
    overflow: hidden;
  }
  .brok-card .bro-img::before {
    content: "";
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }
  
  .brok-card:hover .bro-img::before {
    bottom: 0px;
  }
  .brok-card .bro-img img {
    width: 100%;
  }
  
  .brok-card:hover .bro-img img {
    transform: translateY(-10px);
    filter: blur(1.2px);
  }
  
  .brok-card .bro-det {
    position: absolute;
    width: 100%;
    bottom: -218px;
    right: 0;
    z-index: 1;
    padding: 20px;
    transition: 0.5s;
  }
  .brok-card:hover .bro-det {
    bottom: 20px;
  }
  .brok-card .bro-det h2 {
    font-size: 35px;
    margin-left: 34px;
  }
  
  .brok-card .bro-det h3 {
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .brok-card .bro-det h5 {
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
    line-height: 20px;
  }
  
  /* This is the card for Sindri */
  
  .sindri-card {
    display: block;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: linear-gradient(#02608c, rgba(4, 9, 30, 0.7));
    position: relative;
    margin: 80px 0 0 140px;
    width: 350px;
    height: 400px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px black;
    overflow: hidden;
    display: inline-block;
  }
  
  .sindri-card .sin-img {
    position: relative;
    overflow: hidden;
  }
  .sindri-card .sin-img::before {
    content: "";
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }
  
  .sindri-card:hover .sin-img::before {
    bottom: 0px;
  }
  .sindri-card .sin-img img {
    width: 100%;
  }
  
  .sindri-card:hover .sin-img img {
    transform: translateY(-10px);
    filter: blur(1.2px);
  }
  
  .sindri-card .sin-det {
    position: absolute;
    width: 100%;
    bottom: -200px;
    right: 0;
    z-index: 1;
    padding: 20px;
    transition: 0.5s;
  }
  .sindri-card:hover .sin-det {
    bottom: 50px;
  }
  .sindri-card .sin-det h2 {
    font-size: 35px;
    margin-left: 34px;
  }
  .sindri-card .sin-det h3 {
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .sindri-card .sin-det h5 {
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
    line-height: 20px;
  }
  
  /* This is the card for Mimir */
  
  .mimir-card {
    display: block;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: linear-gradient(#02608c, rgba(4, 9, 30, 0.7));
    position: relative;
    margin: 80px 0 0 90px;
    width: 350px;
    height: 400px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px black;
    overflow: hidden;
    display: inline-block;
  }
  
  .mimir-card .mim-img {
    position: relative;
    overflow: hidden;
  }
  .mimir-card .mim-img::before {
    content: "";
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }
  
  .mimir-card:hover .mim-img::before {
    bottom: 0px;
  }
  .mimir-card .mim-img img {
    width: 100%;
  }
  
  .mimir-card:hover .mim-img img {
    transform: translateY(-10px);
    filter: blur(1.2px);
  }
  
  .mimir-card .mim-det {
    position: absolute;
    width: 100%;
    bottom: -220px;
    right: 0;
    z-index: 1;
    padding: 20px;
    transition: 0.5s;
  }
  .mimir-card:hover .mim-det {
    bottom: 40px;
  }
  .mimir-card .mim-det h2 {
    font-size: 35px;
    margin-left: 34px;
  }
  .mimir-card .mim-det h3 {
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .mimir-card .mim-det h5 {
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
    line-height: 20px;
  }
  
  /* This is the card for Magni */
  
  .magni-card {
    display: block;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: linear-gradient(#02608c, rgba(4, 9, 30, 0.7));
    position: relative;
    margin: 80px 0 0 140px;
    width: 350px;
    height: 400px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px black;
    overflow: hidden;
    display: inline-block;
  }
  
  .magni-card .mag-img {
    position: relative;
    overflow: hidden;
  }
  .magni-card .mag-img::before {
    content: "";
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }
  
  .magni-card:hover .mag-img::before {
    bottom: 0px;
  }
  .magni-card .mag-img img {
    width: 100%;
  }
  
  .magni-card:hover .mag-img img {
    transform: translateY(-10px);
    filter: blur(1.2px);
  }
  
  .magni-card .mag-det {
    position: absolute;
    width: 100%;
    bottom: -160px;
    right: 0;
    z-index: 1;
    padding: 20px;
    transition: 0.5s;
  }
  .magni-card:hover .mag-det {
    bottom: 100px;
  }
  .magni-card .mag-det h2 {
    font-size: 35px;
    margin-left: 34px;
  }
  
  .magni-card .mag-det h3 {
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .magni-card .mag-det h5 {
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
    line-height: 20px;
  }
  
  /* This is the card for Modi */
  
  .modi-card {
    display: block;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: linear-gradient(#02608c, rgba(4, 9, 30, 0.7));
    position: relative;
    margin: 80px 0 0 140px;
    width: 350px;
    height: 400px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px black;
    overflow: hidden;
    display: inline-block;
  }
  
  .modi-card .mod-img {
    position: relative;
    overflow: hidden;
  }
  .modi-card .mod-img::before {
    content: "";
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }
  
  .modi-card:hover .mod-img::before {
    bottom: 0px;
  }
  .modi-card .mod-img img {
    width: 100%;
  }
  
  .modi-card:hover .mod-img img {
    transform: translateY(-10px);
    filter: blur(1.2px);
  }
  
  .modi-card .mod-det {
    position: absolute;
    width: 100%;
    bottom: -140px;
    right: 0;
    z-index: 1;
    padding: 20px;
    transition: 0.5s;
  }
  .modi-card:hover .mod-det {
    bottom: 120px;
  }
  .modi-card .mod-det h2 {
    font-size: 35px;
    margin-left: 34px;
  }
  .modi-card .mod-det h3 {
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .modi-card .mod-det h5 {
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
    line-height: 20px;
  }
  
  .gallery {
    background: black;
    color: white;
  }

@media(max-width: 700px){
  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background-color: #9c1216;
    height: 100vh;
    width: 150px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 2;
    transition: 0.7s;
  }
  .nav-links .fa-xmark {
    display: block;
    color: #fff;
    margin-top: 29px;
    font-size: 25px;
    cursor: pointer;
  }

  nav .fa-bars {
    display: block;
    color: #fff;
    margin: 5px;
    margin-right: 6%;
    margin-bottom: 4%;
    font-size: 25px;
    cursor: pointer;
  }
  .nav-links ul {
    margin-top: 20%;
  }

  .kratos-card {
    margin-left: 3%;
  }
  .atreus-card {
    margin-left: 3%;
  }

  .freya-card {
    margin-left: 3%;
  }

  .baldur-card {
    margin-top: 5%;
    margin-left: 3%;
  }
  .brok-card {
    margin-top: 5%;
    margin-left: 3%;
  }
  .sindri-card {
    margin-top: 5%;
    margin-left: 3%;
  }
  .mimir-card {
    margin-top: 5%;
    margin-left: 3%;
  }
  .magni-card {
    margin-top: 5%;
    margin-left: 3%;
  }
  .modi-card {
    margin-top: 5%;
    margin-left: 3%;
  }
}