* {
  margin: 0;
  padding: 0;
  font-family: "GODOFWAR";
}

@font-face {
  font-family: "GODOFWAR";
  src: url(GODOFWAR.TTF);
}

body::-webkit-scrollbar{
  display: none;
}

.back-video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4));
}

nav img {
  width: 250px;
  height: 70px;
  padding: 10px;
}

nav {
  display: flex;
  padding: 0% 1%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #9c1216;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 40px;
  margin: 10px 0 60px;
}

.text-box p {
  margin: 10px 0 50px;
  font-size: 20px;
}

.visit-btn {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  border: 1px solid #fff;
  padding: 12px 24px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.visit-btn:hover {
  border: 1px solid #9c1216;
  background: #9c1216;
  padding: 20px 30px;
}

.nav-links .fa-xmark {
  display: none;
}

nav .fa-bars {
  display: none;
}

/* course */

.course {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #1064a6;
  /* background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)); */
  /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/Assets/Banner.jpg); */
  position: relative;
  /* background-position: center; */
  /* background-size: cover; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 370px));
  grid-gap: 10px;
}

.gallery {
  background:white;
  color: black;
}

@media(max-width: 700px) {

  .text-box h1 {
    font-size: 20px;
    margin: 10px 0 70px;
  }

  .text-box p {
    margin: 10px 0 60px;
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background-color: #9c1216;
    height: 100vh;
    width: 150px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 2;
    transition: 0.7s;
  }
  .nav-links .fa-xmark {
    display: block;
    color: #fff;
    margin-top: 29px;
    font-size: 25px;
    cursor: pointer;
  }

  nav .fa-bars {
    display: block;
    color: #fff;
    margin: 5px;
    margin-right: 6%;
    margin-bottom: 4%;
    font-size: 25px;
    cursor: pointer;
  }
  .nav-links ul {
    margin-top: 20%;
  }

  .kratos-card {
    margin: 10%;
  }
  .atreus-card {
    margin: 10%;
  }

  .freya-card {
    margin: 10%;
  }

  .baldur-card {
    margin: 10%;
  }
  .brok-card {
    margin: 10%;
  }
  .sindri-card {
    margin: 10%;
  }
  .mimir-card {
    margin: 10%;
  }
  .magni-card {
    margin: 10%;
  }
  .modi-card {
    margin: 10%;
  }
}
